html, body {
  width: 100%;
}

a {
  margin: 10px;
  display: inline-block;
}

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 5px;
}

table { 
    table-layout:fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.favicon {
	height: 16px;
	width: 16px;
}

.tab-expire-days {
	float: left; 
	max-width: 75px; 
	margin-right: 4px;
}